.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.grid-nav:not(:last-child) {
  border: #00000038 !important;
  border-bottom-style: dotted !important;
}

.rowheading {
  padding: 8px 0;
}

.btn-img {
  display: inline-block;
  position: relative;
  top: 7px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #909090;
  border-radius: 50%;
}

.toast-button {
  color: white;
  font-weight: bold;
}

.warn {
  color: #e51414;
  font-weight: 600;
}

.col-offset {
  margin-left: -2mm;
}