<ion-header no-border class="top-header-2">
  <ion-toolbar class='upper-tab-2'>
      <!-- <ion-label class='tab1-top-label heading-guide-label'>Current Garden</ion-label> -->
      <div align="center" class="ion-padding">
        <ion-label align="center" class='top-h1'>{{gardenNameSettings[activeDevice] || activeDeviceName}}</ion-label>
        <ion-img (click)="presentActionSheet()" class="btn-img" src='assets/new-icon/MoreDots.png'></ion-img>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content #contentref style="height: 100%">
  <ion-grid style="height: 100%;padding: 0px">
    <!-- <ion-item> -->
      <ion-row class='rowheading'>
        <ion-col size ='12' align='center'>
          <ion-label class='heading-guide-label'>Luft</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class = 'grid-nav' align='center'>
        <ion-col size ='2' align='left'>
            <!-- change the src of the <ion-img> to change image -->
            <ion-img (click)="redirectToSettings()" class="body-img" src='assets/new-icon/Humidity.svg'></ion-img>
        </ion-col>
        <ion-col size ='4'>
            <p class = 'col-p'>{{humid}}%</p>        
        </ion-col>

        <ion-col size ='2' align='left'>
            <!-- change the src of the <ion-img> to change image -->
            <ion-img (click)="redirectToSettings()" class="body-img" src='assets/new-icon/AirTemp.svg'></ion-img>
        </ion-col>
        <ion-col size ='4'>
            <p class = 'col-p'>{{airtemp}} °C</p>        
        </ion-col>
      </ion-row>

      <ion-row class='rowheading'>
        <ion-col size ='12' align='center'>
          <ion-label  class='heading-guide-label'>Wasser</ion-label>
        </ion-col>
      </ion-row>

      <ion-row align='center'>
        <ion-col size ='2' align='left'>
            <!-- change the src of the <ion-img> to change image -->
            <ion-img (click)="redirectToSettings()" class="body-img" src='assets/new-icon/pH.svg'></ion-img>
        </ion-col>
        <ion-col size ='4'>
          <p class = 'col-p'>{{phValue}}</p>        
        </ion-col>

        <ion-col size ='2' align='left'>
          <!-- change the src of the <ion-img> to change image -->
          <ion-img (click)="redirectToSettings()" class="body-img" src='assets/new-icon/EC.svg'></ion-img>
        </ion-col>
        <ion-col size ='4'>
          <p class = 'col-p'>{{ecValue}} mS</p>        
        </ion-col>
      </ion-row>
      <ion-row class = 'grid-nav' align='center'>
        <ion-col size ='2' align='left'>
          <!-- change the src of the <ion-img> to change image -->
          <ion-img (click)="redirectToSettings()" class="body-img" src='assets/new-icon/Waterlevel.svg'></ion-img>
        </ion-col>
        <ion-col size ='4'>
          <p class = 'col-p'>{{waterlevel}} %</p>        
        </ion-col>

        <ion-col size ='2' align='left'>
          <!-- change the src of the <ion-img> to change image -->
          <ion-img (click)="redirectToSettings()" class="body-img" src='assets/new-icon/Watertemp.svg'></ion-img>
        </ion-col>
        <ion-col size ='4'>
          <p class = 'col-p'>{{watertemp}} °C</p>        
        </ion-col>
      </ion-row>
    
  </ion-grid>
</ion-content>

<!-- FOOTER CODE  -->
<app-footerbrand></app-footerbrand>