.round-button-selected {
    --border-radius: 50%;
    --padding-bottom: 3vw;
    --padding-end: 2.5vw;
    --padding-start: 2.5vw;
    --padding-top: 3vw;
}

.round-button {
    --border-radius: 50%;
    --padding-bottom: 3vw;
    --padding-end: 3vw;
    --padding-start: 3vw;
    --padding-top: 3vw;
    --border-width: 1.2vw;
}

.segment-padding {
    padding: 0vw 3vw 0vw 3vw;
}

.grid-nav {
    padding: 20px 0;
}

.datetimepicker {
    border: 1px solid #537D52;
    border-radius: 2px;
    padding: 1mm;
    font-size: 20px;
    font-weight: 600;
}

// CODE FOR THE SWITCH-ON  BUTTONS AND TOGGLES COLORS
.ion-color-custgreen {
    // Change ion-color-base and  ion-color-base-rgb to change button and toggle on colors
    --ion-color-base: #537D52 !important;
    --ion-color-base-rgb: var(--ion-color-custgreen-rgb, 90, 149, 88) !important;
    --ion-color-contrast: white !important;
    --ion-color-contrast-rgb: 0,0,0 !important;
    --ion-color-shade: #537D52 !important;
    --ion-color-tint: #537D52 !important;
    --background: rgba(var(--ion-text-color-rgb,0,0,0),0.3);
    --handle-background: #fff;
}

// CODE FOR THE SWITCH-OFF  BUTTONS AND TOGGLES COLORS
.ion-color-custgrey {
    // Change ion-color-base and  ion-color-base-rgb to change button and toggle on colors
    --ion-color-base: grey;
    --ion-color-base-rgb:white;
    --ion-color-contrast: white;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: grey;
    --ion-color-tint: grey;
}

.snooze-label {
    display: block;
    padding-top: 10px;
}

.snooze-img {
    padding-bottom: 24px
}