<ion-header no-border class="top-header-2">
  <ion-toolbar class='upper-tab-2'>
      <h1 align='center' class="top-h1">Gartenzentrale</h1> 
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100%" scrollY="true">
  <ion-grid style="padding: 0%">
      <ion-row style="height: auto"class = 'grid-nav' align='center'>
          <ion-col size ='2' align='left' col-xl-2 col-lg-3 col-md-4 class="tab2-img-col">
              <ion-img class='tab2-body-img' src="assets/icon/sun.png"></ion-img>
              <ion-toggle mode='md'  [(ngModel)] = 'timeToggle' (ngModelChange) = 'sunTimer()'  color="custgreen" class="tab2-toggle toggle-calm" ></ion-toggle>
          </ion-col>
    
          <ion-col size ='8'>
            <ion-row >
              <ion-col size ='6' col-xl-2 col-lg-3 col-md-4>
                <ion-datetime (ionChange) = 'sunriseFunc()' ngClass='datetimepicker'  displayFormat="HH:mm" [(ngModel)] = 'sunrise'></ion-datetime>     
              </ion-col>

              <ion-col size ='6' col-xl-2 col-lg-3 col-md-4>
                <ion-datetime (ionChange) = 'sunsetFunc()' ngClass='datetimepicker' displayFormat="HH:mm" [(ngModel)] = 'sunset'></ion-datetime> 
              </ion-col>
            </ion-row>
            <ion-row  style="margin-left: 2vw;">                      
              <ion-col>
                  <ion-button size="small" shape="round" fill='outline'  ngClass='round-button' [color]="timeStatusArray[1]?'custgreen':'custgrey'" (click)="timerFunc(1)"></ion-button>   
              </ion-col>

              <ion-col>
                  <ion-button size="small" shape="round" fill='outline' ngClass='round-button' [color]="timeStatusArray[2]?'custgreen':'custgrey'" (click)="timerFunc(2)"></ion-button>   
              </ion-col>
                
              <ion-col>
                <ion-button size="small" shape="round" fill='outline' ngClass='round-button' [color]="timeStatusArray[3]?'custgreen':'custgrey'" (click)="timerFunc(3)"></ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-range min="0" max="100" step="1" snaps="true" color="custgreen" debounce=500 [(ngModel)] = 'lightIntensity' (ngModelChange) = 'lightIntensitySet()' >
                <ion-icon size="small" slot="start" name="sunny"></ion-icon>
                <ion-icon slot="end" name="sunny"></ion-icon>
              </ion-range>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-label>Lichtintensität: {{lightIntensity}}%</ion-label>
            </ion-row>
          </ion-col>

          <ion-col size ='2' col-xl-2 col-lg-3 col-md-4>
            <ion-img class='tab2-body-img snooze-img' src="assets/new-icon/Snooze.svg"></ion-img>
            <!-- <ion-label class="snooze-label">{{(lightSnooze == true) ? 'ON' : 'OFF'}}</ion-label> -->
            <ion-toggle mode='md'  [(ngModel)] = 'lightSnooze' (ngModelChange) = 'lightSnoozeSet()'  color="custgreen" class="tab2-snooze-toggle toggle-calm" ></ion-toggle>
          </ion-col>  
        </ion-row>

        <ion-row style="height:auto" class = 'grid-nav' align='center'>
            <ion-col size ='2' align='left' class="tab2-img-col">
              <ion-img class='tab2-body-img' src="assets/icon/wind.png"></ion-img>
              <ion-toggle mode='md'  color="custgreen" [(ngModel)] = "fanToggle" (ionChange)="fanToggleFunc()" class="tab2-toggle" ></ion-toggle>
            </ion-col>
      
            <ion-col size ='8'>
              <ion-row >
                <ion-col size ='6' col-xl-2 col-lg-3 col-md-4>
                  <ion-datetime (ionChange) = 'fansunriseFunc()' ngClass='datetimepicker'  displayFormat="HH:mm" [(ngModel)] = 'fansunrise'></ion-datetime>     
                </ion-col>
  
                <ion-col size ='6' col-xl-2 col-lg-3 col-md-4>
                  <ion-datetime (ionChange) = 'fansunsetFunc()' ngClass='datetimepicker' displayFormat="HH:mm" [(ngModel)] = 'fansunset'></ion-datetime> 
                </ion-col>
              </ion-row>
              <ion-row >                      
                <ion-col>
                    <ion-button shape="round" size="small" fill='outline' ngClass='round-button' [color]="fanStatusArray[1]?'custgreen':'custgrey'" (click)="fanFunc(1)"></ion-button>   
                </ion-col>

                <ion-col>
                    <ion-button shape="round" size="small" fill='outline' ngClass='round-button' [color]="fanStatusArray[2]?'custgreen':'custgrey'" (click)="fanFunc(2)"></ion-button>   
                </ion-col>
              </ion-row>   
              <ion-row>
                <ion-range min="10" max="60" step="1" snaps="true" color="custgreen" debounce=500 [(ngModel)] = 'fanOnTimer' (ngModelChange) = 'fanOnTimerSet($event)'>
                  <ion-icon size="small" slot="start" name="alarm"></ion-icon>
                  <ion-icon slot="end" name="alarm"></ion-icon>
                </ion-range>
              </ion-row> 
              <ion-row class="ion-justify-content-center">
                <ion-label>{{fanOnTimer}} min pro Stunde</ion-label>
              </ion-row>
            </ion-col>
            <ion-col size ='2'>
              <ion-img class='tab2-body-img snooze-img' src="assets/new-icon/Snooze.svg"></ion-img>
              <!-- <ion-label class="snooze-label">{{(fanSnooze == true) ? 'ON' : 'OFF'}}</ion-label> -->
              <ion-toggle mode='md'  [(ngModel)] = 'fanSnooze' (ngModelChange) = 'fanSnoozeSet()'  color="custgreen" class="tab2-snooze-toggle toggle-calm" ></ion-toggle>
            </ion-col>
            
        </ion-row>

        <ion-row style="height:auto" class = 'grid-nav' align='center'>
            <ion-col size ='2' align='left' class="tab2-img-col">
              <ion-img class='tab2-body-img' src="assets/icon/vintage-water-pump.png"></ion-img>
              <ion-toggle mode='md'  color="custgreen" [(ngModel)] = "pumpToggle" (ionChange)="pumpToggleFunc()" style="padding-top:66%;" class="tab2-toggle" ></ion-toggle>
            </ion-col>
      
            <ion-col size ='8' class='ion-justify-content-center' style='display: flex; flex-direction: column;'>
              <ion-row >
                <ion-col size ='6' col-xl-2 col-lg-3 col-md-4>
                  <ion-datetime (ionChange) = 'pumpsunriseFunc()' ngClass='datetimepicker'  displayFormat="HH:mm" [(ngModel)] = 'pumpsunrise'></ion-datetime>     
                </ion-col>
  
                <ion-col size ='6' col-xl-2 col-lg-3 col-md-4>
                  <ion-datetime (ionChange) = 'pumpsunsetFunc()' ngClass='datetimepicker' displayFormat="HH:mm" [(ngModel)] = 'pumpsunset'></ion-datetime> 
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-range min="10" max="60" step="1" snaps="true" color="custgreen" debounce=500 [(ngModel)] = 'pumpOnTimer' (ngModelChange) = 'pumpOnTimerSet()'>
                  <ion-icon size="small" slot="start" name="alarm"></ion-icon>
                  <ion-icon slot="end" name="alarm"></ion-icon>
                </ion-range>
              </ion-row> 
              <ion-row class="ion-justify-content-center">
                <ion-label>{{pumpOnTimer}} min pro Stunde</ion-label>
              </ion-row>
            </ion-col>

            <ion-col size ='2'>
              <ion-img class='tab2-body-img snooze-img' src="assets/new-icon/Snooze.svg"></ion-img>
              <!-- <ion-label class="snooze-label">{{(pumpSnooze == true) ? 'ON' : 'OFF'}}</ion-label> -->
              <ion-toggle mode='md'  [(ngModel)] = 'pumpSnooze' (ngModelChange) = 'pumpSnoozeSet()'  color="custgreen" class="tab2-snooze-toggle toggle-calm" ></ion-toggle>
            </ion-col>

        </ion-row>

        <ion-row style="height:auto; border-top: 1px dotted gray;" class='grid-nav' align='center'>
          <ion-col> 
            <ion-row *ngIf="isOnWifiMode" class="ion-justify-content-center">
              <ion-label>Aktuelle Zeit</ion-label>
            </ion-row>
            <ion-row *ngIf="isOnWifiMode" class="ion-justify-content-center">
              <ion-label style="font-weight: 800; font-size: 120%; padding: 2mm">{{datetimertc | date:"dd.MM.yyyy HH:mm"}}</ion-label>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-button  fill='outline' color="custgrey" (click)="setTimeRTC()">Zeit synchronisieren</ion-button>
            </ion-row> 
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>

 <!-- FOOTER CODE  -->
 <app-footerbrand></app-footerbrand>