
// CUSTOME GREEN COLOR OF CONNECT BUTTON
.ion-color-custgreen {
    --ion-color-base: #537D52;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: white;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #5A9558;
    --ion-color-tint: #5A9558;
}

ion-segment {
  padding: 4mm 10mm
}

ion-segment-button {
  --background-checked: #5a955885;
  --border-color: transparent;
  --indicator-color-checked: transparent;
}

.ion-segment-icon {
  font-size: 40px;
  color: gray !important;
}

  // .scroll-content{overflow-y: hidden;}