<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content no-bounce style="overflow: hidden;">
  <ion-grid style="padding:0%;height:100%">
    <ion-row align='center' style="height:10%">
        
    </ion-row>
    
    <ion-row align='center' style="height:30%">
      <ion-col style="height:100%">
        <!-- LOGO IMG HERE  -->
        <ion-img src='assets/icon/logo.png' style="height:100%"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row align='center' style="height:10%">
        
    </ion-row>

    <ion-row align='center'>
      <!-- <ion-col size='1'></ion-col> -->
      <ion-col size='12'>
        <h1><b>Select Garden</b></h1>
        <ion-radio-group value="wifi" (ionChange)="onConnModeChange($event)">
          <ion-grid style="padding:0%;height:auto">
            <ion-row>
              <ion-list-header>
                <ion-label>Connection mode:</ion-label>
              </ion-list-header>
            </ion-row>
            <ion-row>
              <ion-col size='6'>
                <ion-item lines="none">
                  <ion-label>IoT</ion-label>
                  <ion-radio slot="start" value="wifi"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size='6'>
                <ion-item lines="none">
                  <ion-label>Bluetooth</ion-label>
                  <ion-radio slot="start" value="bluetooth"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-radio-group>
        <ion-item *ngIf = "connectionMode == 'wifi'">
          <ion-label class="device-select-header">Choose an IoT Garden Device</ion-label>
          <ion-select placeholder="Choose an IoT Garden Device" [(ngModel)] = 'selected_wifi' style="width: 100%; max-width: unset;">
            <ion-select-option [value] = 'device' *ngFor='let device of devices'>{{device}}</ion-select-option>
          </ion-select>
        </ion-item>    
        <ion-item *ngIf = "connectionMode == 'bluetooth'">
          <ion-label  class="device-select-header">Choose a Garden Bluetooth device</ion-label>
          <ion-select placeholder="Choose a Garden Bluetooth device" [(ngModel)] = 'selected_bt' (ionChange)='onBtDeviceChange($event)' style="width: 100%; max-width: unset;">
            <ion-select-option [value] = 'device' *ngFor='let device of btdevices'>{{device.name ? device.name : device.id}}</ion-select-option>
          </ion-select>
        </ion-item>      
      </ion-col>
      <!-- <ion-col size='1'></ion-col> -->

    </ion-row>
    
    <ion-row align='center'>
        <ion-col size='3'></ion-col>
        <ion-col size='6'>
            <ion-button color='custgreen' (click) = "connect()">Connect!</ion-button>
        </ion-col>
        <ion-col size='3'></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
          
<!-- FOOTER CODE  -->
<ion-footer no-border style="height: 100px">
  <ion-toolbar class = 'lower-nav'>
      <ion-grid>
          <ion-row >
              <ion-col size='2' align='center' class="center-right">
              </ion-col>
              <ion-col size='6' align='center' class="center-right">
                <div>
                  <h1 style="margin-bottom: 0%;font-size: 7vw;" class="footer-h2"> <i>simple</i><b>PLANT</b></h1>
                  <!-- the below a tag is for redirecting user to company website , to change website url go to redirect() function in welcome.page.ts -->
                  <a style="font-size: 4vw;color: #5A9558;padding-right: 4.4vw;" (click)='redirect()'> www.simpleplant.de</a>
                  <div style="width: 1vw;"></div>
              </div>
              </ion-col>
              <ion-col size='4' class="center-left">
                  <!-- the below a tag is for redirecting user to social media website , to change social media url go to facebook()/instagram() function in welcome.page.ts -->
                  <ion-icon size="large" (click) = "facebook()" name="logo-facebook"></ion-icon> 
                  <ion-icon size="large" (click) = "instagram()" name="logo-instagram"></ion-icon>
              </ion-col>
          </ion-row>
      </ion-grid>
    </ion-toolbar>
</ion-footer>