<ion-header no-border class="top-header-2">
    <ion-toolbar class='upper-tab-2'>
        <h1 align='center'  class = 'tab3-top-h1'>Tipps und Tricks</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="tipgrid" style="height: 100%;padding: 0%;">
    <ion-row class='tiprow ion-justify-content-center'>
      <ion-button class="tipbutton">Gartenaufbau</ion-button>
    </ion-row>
    <ion-row class='tiprow ion-justify-content-center'>
      <ion-button class="tipbutton">Gartenpflege</ion-button>
    </ion-row>
    <ion-row class='tiprow ion-justify-content-center'>
      <ion-button class="tipbutton">Kochrezepte</ion-button>
    </ion-row>
    <ion-row class='tiprow ion-justify-content-center'>
      <ion-button class="tipbutton">Gartengemeinde</ion-button>
    </ion-row>
    
  </ion-grid>
</ion-content>

 <!-- FOOTER CODE  -->
 <app-footerbrand></app-footerbrand>