<ion-header no-border class="top-header">
    <ion-toolbar class='upper-tab-2'>
        <h1 align='center'  class = 'tab3-top-h1'> How to use your SmartGarden</h1>
        <h6 align='center'  class = 'tab3-top-h6'>Follow these three easy steps!</h6>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%;padding: 0%;">
    <ion-row style="height: 27%"class = 'grid-nav' align='center'>
      <ion-col size ='3' align='left' style="margin: auto;">
          <!-- CHANGE background-color TO CHANGE COLOR OF THE BULLET POINT CIRCLES -->
          <div class='circle' style="background-color:#d9e6db">
            1 
          </div>
      </ion-col>
  
  
      <ion-col size ='9' style="margin: auto;padding-top: 6vw;">
        <p class = 'tab3-bottom-h6' align='left'>Fill the tub with water up to the mark. Add prescribed amount of fertilizer.</p>         
      </ion-col>
    </ion-row>
    <ion-row style="height: 27%"class = 'grid-nav' align='center'>
      <ion-col size ='3' align='left'style="margin: auto;">
          <!-- CHANGE background-color TO CHANGE COLOR OF THE BULLET POINT CIRCLES -->
          <div class='circle' style="background-color:#a8d2af">
            2 
          </div>
      </ion-col>
  
  
      <ion-col size ='9' style="margin: auto;padding-top: 6vw;">
          <p class = 'tab3-bottom-h6' align='left'>Put the pump in the water. The inseminated and germinated plant pads are then placed on the grids.</p>         
      </ion-col>
    </ion-row><ion-row style="height: 27%" class = 'grid-nav' align='center'>
      <ion-col size ='3' align='left' style="margin: auto;">
          <!-- CHANGE background-color TO CHANGE COLOR OF THE BULLET POINT CIRCLES -->
          <div class='circle' style="background-color:#9dd6a6">
            3
          </div>
      </ion-col>
  
  
      <ion-col size ='9' style="margin: auto;padding-top: 6vw;">
        <p class = 'tab3-bottom-h6'align='left'>Plug the plug into the wall socket and set the desired configuration of your SmartGarden directly here in the app!</p>      
      </ion-col>
    </ion-row><ion-row style="height: 15%" >
      <ion-col size ='9' align='right'>
          <h1 style="margin: 5%;font-size: 8vw;"><b>Let it Grow!</b></h1> 
      </ion-col>
  
  
      <ion-col size ='3' align='left'> 
          <ion-img class="tab3-body-img" src='assets/icon/leaf.png'></ion-img>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>

 <!-- FOOTER CODE  -->
 <app-footerbrand></app-footerbrand>