<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content no-bounce style="overflow: hidden;">
  <ion-grid style="padding:0%;height:100%">
    <ion-row align='center' style="height:5%">
        
    </ion-row>
    
    <ion-row align='center' style="height:35%">
      <ion-col style="height:100%">
        <!-- LOGO IMG HERE  -->
        <ion-img src='assets/Logo.png' style="height:100%"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row align='center' style="height:5%">
        
    </ion-row>

    <ion-row align='center' style="height:30%">
      <!-- <ion-col size='1'></ion-col> -->
      <ion-col size='12'>

        <ion-segment mode="ios" style="height:50%" value="wifi" (ionChange)="onConnModeChange($event)">
          <ion-segment-button value="wifi">
            <!-- <ion-label>Friends</ion-label> -->
            <ion-icon class="ion-segment-icon" name="wifi"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="bluetooth">
            <ion-icon class="ion-segment-icon" name="bluetooth"></ion-icon>
          </ion-segment-button>
        </ion-segment>

        <ion-item *ngIf = "connectionMode == 'wifi'">
          <ion-label class="device-select-header" style="font-weight: 800">Finde den IoT-Garten</ion-label>
          <ion-select placeholder="Finde den IoT-Garten" [(ngModel)] = 'selected_wifi' style="width: 100%; max-width: unset; font-weight: 800;">
            <ion-select-option [value] = 'device.id' *ngFor='let device of devices'>{{device.name || device.id}}</ion-select-option>
          </ion-select>
        </ion-item>    
        <ion-item *ngIf = "connectionMode == 'bluetooth'">
          <ion-label  class="device-select-header" style="font-weight: 800">Finden Sie Bluetooth-Garten</ion-label>
          <ion-select placeholder="Finden Sie Bluetooth-Garten" [(ngModel)] = 'selected_bt' style="width: 100%; max-width: unset;  font-weight: 800;">
            <ion-select-option [value] = 'device' *ngFor='let device of btdevices'>{{device.name ? device.name : device.id}}</ion-select-option>
          </ion-select>
        </ion-item>      
      </ion-col>
      <!-- <ion-col size='1'></ion-col> -->

    </ion-row>
    
    <ion-row align='center'>
        <ion-col size='3'></ion-col>
        <ion-col size='6'>
            <ion-button class="actionbtn" color='custgreen' (click) = "connectToGarden()">Verbinden</ion-button>
        </ion-col>
        <ion-col size='3'></ion-col>
    </ion-row>

    <ion-row *ngIf="connectionMode == 'wifi'" align='center'>
      <ion-col size='3'></ion-col>
      <ion-col size='6'>
          <ion-button class="actionbtn secondarybtn" color='custgreen' (click) = "configurelocal($event)">Konfigurieren</ion-button>
          <ion-select #localgardenselect class="localselect" *ngIf="osIsAndroid" [interfaceOptions]="customAlertOptions" interface="alert" [(ngModel)] = 'selected_local_device' (click) = "configurelocal($event)" (ionChange)='onLocalDeviceChange($event)' style="padding: 0">
            <ion-select-option [value] = 'device' *ngFor='let device of localdevices'>{{device.SSID ? device.SSID : device.BSSID}}</ion-select-option>
          </ion-select>
      </ion-col>
      <ion-col size='3'></ion-col>
    </ion-row>

    <!-- <ion-row class='ion-justify-content-end' style="align-content: flex-end; padding: 2mm 4mm;">
      <ion-label  class="device-select-header" style="height: 6mm; font-weight: 800" (click) = "!osIsAndroid && configurelocal($event)">Configure local device(s)...</ion-label>
      <ion-select *ngIf="osIsAndroid" [interfaceOptions]="customAlertOptions" interface="alert" [(ngModel)] = 'selected_local_device' (click) = "configurelocal($event)" (ionChange)='onLocalDeviceChange($event)' style="padding: 0">
        <ion-select-option [value] = 'device' *ngFor='let device of localdevices'>{{device.SSID ? device.SSID : device.BSSID}}</ion-select-option>
      </ion-select>
    </ion-row> -->
  </ion-grid>
</ion-content>
          
<!-- FOOTER CODE  -->
<app-footerbrand></app-footerbrand>