
// CUSTOME GREEN COLOR OF CONNECT BUTTON
.ion-color-custgreen {
    --ion-color-base: #537D52;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: white;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #5A9558;
    --ion-color-tint: #5A9558;
}

ion-segment {
  padding: 4mm 10mm
}

ion-segment-button {
  --background-checked: #b6d9b4;
  --border-color: transparent;
  --indicator-color-checked: transparent;
}

.actionbtn {
  width: 100%; 
  height: 10mm;
  --border-radius: 2px;
}

.secondarybtn {
  --ion-color-base: #78b476;
}

.localselect {
  visibility: hidden;
}

.ion-segment-icon {
  font-size: 40px;
  color: gray !important;
}

.configurelocalbtn {
  color: #537D52;
  background-color: transparent;
}
  // .scroll-content{overflow-y: hidden;}